<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body class="bkg" >
	<nav class="navbar navbar-expand-lg">	

	<div class="collapse navbar-collapse p-5" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">

				<a class="nav-link active" href="A.php"><h2 class="nav-title"><span class="mr-3"><img src="img/home.png" alt=""></span>START</h2></a>
			</li>
			
		</ul>
	
	</div>
	</nav>
	<div class="d-flex justify-content-center">
				<img src="img/titulo.png">
			</div>
	<section class="container form p-5 mt-5">
		<div class="row">
			
			<div class="col-12">
				<h1>Welcome to Dictionary</h1>
			</div>
			<div class="col-12 mt-3">
				<p>Dictionary is a platform for the purpose of helping students or anyone who doubts about the use of some verbs. the user can have a better understanding with the definitions and examples that will be available.</p>
			</div>
		</div>
	</section>
</body>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</html>